# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C Extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pytest
.cache

# mypy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Virtual Environments
venv/
ENV/
env/
